{% extends 'project/base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load extras %}
<div class="container emp-profile">	  

                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <a href="{% url 'project:index' %}"><img src="{{object.awards.organization.logo}}" alt=""/></a>
                          </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#filesModal">
                          Add Files
                        </button>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                          Make Comment
                        </button>
                        <a class="btn btn-primary btn-block" href="{% url 'project:award_create' org_id=object.awards.organization.id awards_id=object.awards.id %}" role="button">Add Award</a>
                        <a class="btn btn-primary btn-block" href="{% url 'project:awards_detail' org_id=object.awards.organization.id pk=object.awards.pk %}" role="button">View {{object.awards.project_name}}</a>
                        <br>  
                        <div class="dropdown">
  <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Other Project Videos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for v in object.awards.awards_list %}
    <a class="dropdown-item" href="{%  url 'project:award_detail' org_id=v.awards.organization.pk awards_id=v.awards.id pk=v.pk %}">{{v.award_number}} {{v.award_name}} {{v.award_project}}</a>
    {% endfor %}

  </div>
</div>   
    </div>
    <div class="col-md-8">
      <div class="profile-head">
        <div class="row">
          <div class="col-sm-10">
        <h5>Title: {{object.award_name}} {{object.award_project}}</h5>
        <h6>Project: <a href="{% url 'project:get_project' project_type=object.awards.type project_id=object.awards.id %}">{{object.awards.project_name}}</a></h6>
        <table class="table table-bordered">
            <tr>
                <th>Number</th>
                <td>{{object.award_number}}</td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{object.award_winner}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{object.award_description}}</td>
            </tr>
        </table>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-primary btn-block" href="{% url 'project:award_edit' org_id=object.awards.organization.pk awards_id=object.awards.pk pk=object.pk %}" role="button">Edit</a>
        </div>
        </div>            

          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="home" aria-selected="true">Jury Comments</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#script" role="tab" aria-controls="profile" aria-selected="false">Script</a>
                </li>
                <li>
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#assets" role="tab" aria-controls="profile" aria-selected="false">Assets</a>
                </li>
                <li>
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#draft" role="tab" aria-controls="profile" aria-selected="false">Draft</a>
                </li>
                <li>
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#final" role="tab" aria-controls="profile" aria-selected="false">Final</a>
              </li>
              <li>
                  <a class="nav-link" id="comments-tab" data-toggle="tab" href="#edit_comments" role="tab" aria-controls="profile" aria-selected="false">Edit Comments</a>
              </li>
          </ul>
                        </div>
                        <!--Edit Button-->
                        <!--Tab content-->
                                                <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="comments" role="tabpanel" aria-labelledby="home-tab">    
                                      {{object.award_comments}}
                            </div>
                            <div class="tab-pane fade" id="script" role="tabpanel" aria-labelledby="profile-tab">
                            
                            {% if object.script|driveify != '#' %}                         
                                    <iframe src="{{object.script|driveify}}" height="550" width="600">

                                    </iframe>
                            {% else %}
                            Script Pending 
                            {% endif %}

                            </div>
                <div class="tab-pane fade" id="assets" role="tabpanel" aria-labelledby="profile-tab">
                  
                              {% if object.folder_id|folderfy != '#' %}            
                                
                                    <iframe src="{{object.folder_id|folderfy}}#list" style="width:100%; height:600px; border:0;"></iframe>
                            {% else %}
                            Assets Pending
                            {% endif %}
                            </div>
                            <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="profile-tab">
                                <i>If video doesn't play, open in new window</i>
                           {% if object.draft|vidify != '#' %}                         
                                <iframe src="https://drive.google.com/file/d/{{object.draft|vidify}}/preview" width="640" height="480"></iframe>
                            {% else %}
                            Draft Pending
                            {% endif %}
                            </div>
                 <div class="tab-pane fade" id="final" role="tabpanel" aria-labelledby="profile-tab">
                                <i>If video doesn't play, open in new window</i>
                           {% if object.final_draft|vidify != '#' %}                         
                                <iframe src="https://drive.google.com/file/d/{{object.final_draft|vidify}}/preview" width="640" height="480"></iframe>
                            {% else %}
                            Final Pending
                            {% endif %}
                            </div>
                            <div class="tab-pane fade" id="edit_comments" role="tabpanel" aria-labelledby="profile-tab">
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Type</th>
                                      <th>Block</th>
                                      <th>Time</th>
                                      <th>Comment</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for a,b in object.edit_comments.iterrows %}
                                    <tr>
                                      <td>{{b.COMMENT_TYPE|default_if_none:""}}</td>
                                      <td>{{b.BLOCK|default_if_none:""}}</td>
                                      <td>{{b.TIME|default_if_none:""}}</td>
                                      <td>{{b.COMMENT|default_if_none:""}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            </div>

                    </div>
                    <div class="col-md-2">  	
                    	
                        <!-- Button to Open the Modal -->          
 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">

 						<br> 
                       	
                    </div>
                    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Comments</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body"> 
         
            <form method="post" enctype="multipart/form-data" action="{% url 'project:comment_view' org_id=object.awards.organization.id awards_id=object.awards.id award_id=object.id %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-6">
        {% bootstrap_field form.block %}
      </div>
      <div class="col-sm-6">
        {% bootstrap_field form.comment_type %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
      {% bootstrap_field form.time %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {% bootstrap_field form.comment %}
      </div>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Comment</button>
            </form>
          
        
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<div class="modal" id="filesModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Files</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
  <form method="post" enctype="multipart/form-data" action="{% url 'project:upload_file' org_id=object.awards.organization.id awards_id=object.awards.id award_id=object.id %}">
    {% csrf_token %}
    {% bootstrap_form upload_form %}
    <br>
    <button class="btn btn-success" type="submit">Upload</button>
  </form>
  
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
                    <div class="col-md-8">

                        </div>
                    </div>
                </div>
            </form>           
</div>




{% endblock %}

