{% extends 'project/base.html' %}
{% block content %}
{% load extras %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}

<div class="container emp-profile">
	                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">                          
                            <img src="{{org.logo}}" alt=""/>       
                        </div>
                    </div>
                    <div class="col-md-8">
                    	<h3>Update {{award.award_name}}</h3>
                    	<div class="table-responsive">                    		
                    		<form method="post">
                    			{% csrf_token %}
                    			{% bootstrap_form form %}
                    			<div class="d-flex p-2 justify-content-between">
                            <input class="btn btn-lg btn-primary" type="submit" value="Submit">
                        </div>
                    		</form>
                    	
                    	</div>
                    </div>
                	</div>


</div>
{% endblock %}