{% extends 'project/base.html' %}
{% load extras %}
{% block content %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <a href="{% url 'project:index' %}">
                            <img src="{{object.organization.logo}}" alt=""/>  
                            </a>      
                        </div>
                        <br>
                        <!--Button Items -->
                            <div class="profile-work">
                            <a class="btn btn-primary btn-block" href="{% url 'project:award_create' org_id=object.organization.id awards_id=object.id %}" role="button" data-toggle="popover" data-content="Add a new award video to project">Add Award</a>  
                            <a href="{% url 'project:awards_update' org_id=object.organization.id pk=object.pk %}" class="btn btn-primary btn-block">Edit Project</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-head">
                        	<h5>{{object.project_name}}                </h5>
                            <h6>                                   {{object.date}}
                            </h6>
                            <h6>
                            Number of awards: 
                            {{object.number_of_awards}}
                            </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="home" aria-selected="true">Videos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#team" role="tab" aria-controls="home" aria-selected="true">Team</a>
                                </li>

                            </ul>
                        </div>
                        <!--Tab content-->
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="videos" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Video</th>
                                            <th>Title</th>
                                            <th>Script</th>
                                            <th>Draft</th>
                                            <th>Final</th>
                                            <th>Complete</th>
                                        </tr>
                                        {% for v in object.awards_list %}
                                        <tr>
                                            <td><a href="{% url 'project:award_detail' org_id=v.awards.organization.id awards_id=v.awards.id pk=v.pk %}">{{v.award_number}}</a></td>
                                            <td><a href="{% url 'project:award_detail' org_id=v.awards.organization.id awards_id=v.awards.id pk=v.pk %}">{{v.award_name}}</a></td>
                                            {% if v.script is not None and v.draft != '#' %}
                                            <td style="text-align: center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                                            </svg>                           
                                           </td>
                                           {% else %}
                                           <td></td>
                                           {% endif %}
                                           {% if v.draft is not None and v.draft != '#' %}
                                            <td style="text-align: center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                                            </svg>                           
                                           </td>
                                           {% else %}
                                           <td></td>
                                           {% endif %}
                                           {% if v.final_draft is not None and v.final_draft != '#' %}
                                            <td style="text-align: center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                                            </svg>                           
                                           </td>
                                           {% else %}
                                           <td></td>
                                           {% endif %}
                                           {% if v.complete == True %}
                                            <td style="text-align: center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
                                            </svg>                           
                                           </td>
                                           {% else %}
                                           <td></td>
                                           {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </thead>
                                </table>                                      
                            </div>
                            <div class="tab-pane fade show" id="team" role="tabpanel" aria-labelledby="home-tab">
                                <div class="table-responsive">
                                    <table class="table table-bordered">        
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Role</th>                   
                                                <th>Email</th>
                                            </tr>                                   
                                        {% for t in object.organization.team %}
                                            <tr>
                                                <td>{{t.username}}</a></td>
                                                <td>{{t.first_name}}</td>
                                                <td>{{t.last_name}}</td>
                                                <td>{{t.role}}</td>
                                                <td>{{t.email}}</td>
                                            </tr>
                                    {% endfor %}
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
 
                </div>

                   
        </div>

{% endblock %}