{% extends 'project/base.html' %}
{% block content %}
{% load extras %}
{% load crispy_forms_tags %}
{% load i18n %}

<div class="container emp-profile">
	                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">                          
                            <img src="{{org.logo}}" alt=""/>       
                        </div>
                    </div>
                    <div class="col-md-8">
                    	<h3>Update {{award.award_name}}</h3>
                    	<div class="table-responsive">                    		
                    		<form method="post">
                    			{% csrf_token %}
                    			<table class="table table-bordered">
                    				{% for f in form %}
                    				<tr>
                    					<th>{{f.label_tag}}</th>
                    					<td>{{f}}</td>
                    				</tr>
                    				{% endfor %}
                    			</table>
                    			<div class="d-flex p-2 justify-content-between">
                            <input class="btn btn-lg btn-primary" type="submit" value="Submit">
                        </div>
                    		</form>
                    	
                    	</div>
                    </div>
                	</div>


</div>
{% endblock %}